.container-one {
    background-color:white;
}

.container-two {
    background-color:lightgray;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items:center;
}

.flex-container-1 {
    border: 1px solid black;
    background-color:white;
    border-radius: 10px
}

.container-three {
    background-color:#0072e1;
    height: 25vh;
}
