body {
    background-color:lightgray;
}

.nav-bar {
    border-radius: 20px;
    padding: 5px;
    background-color:lightblue;
    border: 2px solid black;
    margin: 20px;
}

.name-age table {
    padding: 20px; 
    border-radius: 20px;
    display: flex;
    background-color:lightcoral;
    border: 2px solid black;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse:collapse;
}

th, td {
    padding: 15px;
}

th {
    background-color: whitesmoke;
}

.checkbox-items {
    padding: 10px;
    border-radius: 20px;
    background-color:lemonchiffon;
    border: 2px solid black;
    margin: 20px;
}

.copyright {
    padding: 5px;
    border-radius: 20px;
    background-color:lightseagreen;
    border: 2px solid black;
    margin: 20px; 
}